/* General Styles */
html{
    scroll-behavior: smooth !important;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1;
    /* Account for fixed header height */
}

/* Header: align logo, company name, and language switcher */
header {
    background-color: #333;
    color: white;
    padding: 0.3px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    height: 25vh;
    z-index: 1000;
    box-sizing: border-box;
    position: fixed;
}

header> .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    z-index: 2;
}

header>.background {
    background-image: url('./imgs/banner.jpg');
    filter: brightness(.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    z-index: 1;
}

/* Align Logo and Company Name */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    /* Use flexbox to align items horizontally */
    align-items: center;
    /* Vertically centers the logo and the company name */
}

.logo-img {
    width: 10vw;
    /* Adjust the logo size if needed */
    height: auto;
    margin-right: 20px;
    /* Adds space between the logo and the company name */
}

.logo h1 {
    font-size: 6vh;
    /* Adjust the font size */
    font-weight: bold;
    color: white;
    margin: 0;
    /* Remove default margin */
    padding: 2px;
    color: white;
}


.company-name {
    font-size: 44px;
    font-weight: bold;
    color: white;
}

h1 {
    padding: 5px;
    /* Adds padding to all sides (top, right, bottom, left) */
}

h2 {
    padding: 10px 50px;
    /* Adds 10px top/bottom and 20px left/right padding */
}



/* Language Switcher */
.language-switcher {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
}

.lang-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 6px 7px;
    margin-left: 0.5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.lang-btn:hover {
    background-color: #ff8800;
}

/* Centered Navigation Bar below the company name */
nav {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 4vh;
    padding: 5px 10px;
    transition: background-color 0.2s ease;
    border-radius: 30px;
}

nav ul li a:hover {
    background-color: #ff8800;
}

section {
    padding-bottom: 4vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

section>h2 {
    font-size: 7vh;
    margin-bottom: 2vh;
}
section>p {
    font-size: 3vh;
    margin-top: 20px;
    max-width: 80%;
}

/* Home Section */
#home {
    background-color: white;
    padding-top: 25vh;
    text-align: center;
}

.hero-image {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

#home p {
    font-size: 30px;
    color: #666;
}

/* About Us Section */
#about {
    background-color: #f4f4f4;
    text-align: center;
}

#mission-statement{
    background-color: #fff;
}

#location {
    background-color: #f4f4f4;
    text-align: center;
}

#contact{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    margin-bottom: 0;
}

#contact> div{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    height: 100%;
}

.phonemail{
    text-align: start;
    align-items: start;
    justify-content: start;
}

.phonemail> h2, .socials> h2{
    padding: 0 !important;
    font-size: 6vh;
    margin-bottom: 7vh;
}

.phonemail> p{
    font-size: 3vh;
    text-decoration: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials> div{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    justify-content: start;
}

.socials a{
    font-size: 3vh;
    text-decoration: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

footer{
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}


/* Responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo-container {
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}